.frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: .3em;
  width: 200px;
  margin-bottom: .3em;
}

.label {
  text-align: left;
  margin-bottom: .3em;
}

.input {
  margin-bottom: .3em;
}