.frame {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--title-color);
  border-radius: 16px;
  margin: 3em auto;
}

.frame h2 {
  color: var(--title-color);
  margin: .5em 0;
}

.caster_slots {
  margin-bottom: 2em;
}

.caster_level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc {
  margin: .5em 0;
}

@media screen and (min-width: 720px) {
  .frame {
    flex-direction: row;
    padding: 5em;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30%;
  }
}