.frame {
  border: solid 1px var(--title-color);
  border-radius: 16px;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frame h1, .frame h2, .frame h3 {
  margin-bottom: .5em;
  color: var(--title-color);
}

.input_frame, .output_frame {
  margin-bottom: .5em;
}

.data_frame {
  display: flex;
  flex-direction: column-reverse;
}

.output_frame span {
  color: #ece3d9;
}

@media screen and (min-width: 720px) {
  .frame {
    margin: 0 auto;
    margin-top: 10%;
    width: 50%;
  }
}