:root {
  --bg-color: #0b0a13;
  --bar-color: rgba(11,10,19,0.5);
  --text-color: #ebcda9;
  --title-color: #d6a659;
  --bar-hov: #5575c77f;
  --comum: #fff;
  --incomum: #16cf05;
  --raro: #4494fd;
  --muRaro: #a555db;
  --lendario: #ff7b00;
  --gold: #ffbb33;
}

:root {
  --v-padding: 1rem;
  --hd-height: 50px;
  --vertical-margin: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quantico', Helvetica;
}

body {
  /* background-color: var(--bg-color); */
  background: url('/images/bg.jpg');
  background-size: cover;
}

.main_container {
  color: var(--text-color);
  min-height: 120dvh;
  margin-top: 15em;
  margin-bottom: 10em;
  padding: 1em 1em;
  background-color: var(--bg-color);
  box-shadow: 0 0 30px 50px #0b0a13;
  text-align: center;
}

/* columns */
.col_1 {width: 8.33%;}
.col_2 {width: 16.66%;}
.col_3 {width: 25%;}
.col_4 {width: 33.33%;}
.col_5 {width: 41.66%;}
.col_6 {width: 50%;}
.col_7 {width: 58.33%;}
.col_8 {width: 66.66%;}
.col_9 {width: 75%;}
.col_10 {width: 83.33%;}
.col_11 {width: 91.66%;}
.col_12 {width: 100%;}

[class*="col_"] {
  padding: .5em;
}

@media screen and (max-width: 480px) {
  [class*='col_'] {
    width: 100%;
  }
}