.main_container h1 span {
  color: var(--title-color);
}

.main_container h1 {
  margin-bottom: 2em;
}

.page_container div {
  margin-bottom: 2em;
}

.spacer {
  margin-top: 5em;
}

.list_container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  position: relative;
}

.link_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all .7s ease-in-out;
}

.link_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.link_content a {
  text-decoration: none;
  color: var(--text-color);
}

.none {
  height: 100px;
  opacity: 0;
  visibility: hidden;
}

.Listas {
  height: 200px;
  opacity: 1;
  visibility: visible;
}

.Ferramentas {
  height: 200px;
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 480px) {
  .Ferramentas {
    height: 200px;
  }

  .Listas {
    height: 200px;
  }

  .link_content {
    flex-wrap: wrap;
  }

  .none {
    height: 150px;
  }
}