.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .3em;
  margin-bottom: .5em;
}

.spell_number {
  min-width: fit-content;
  width: 40px;
  text-align: right;
  padding-right: .3em;
  color: var(--title-color);
}

.data_frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding-right: .3em;
}

.spell_level {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.spell_school {
  display: flex;;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.label {
  width: 60px;
}

.outputs span {
  color: #fff;
}